@tailwind base;
@layer base{
    body
    {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@tailwind components;
@tailwind utilities;